@font-face {
  font-family: 'Montserrat';
  src: url('/fonts/Montserrat-Regular.ttf');
}

@font-face {
  font-family: 'PressStart2P';
  src: url('/fonts/PressStart2P-Regular.ttf');
}

* {
  font-family: 'Montserrat';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  height: 2200px;
}

a {
  text-decoration: none;
}

.header {
  background: rgb(255,255,255);
  background: linear-gradient(0deg, rgba(142, 135, 62, 0) 0%, rgba(43, 39, 16, 0.386) 50%, rgba(72, 64, 29, 0.907) 100%);
  position: fixed;
  width: 100%;
  z-index: 30;
  margin-top: 5rem;
}

.text {
  color: #FAF9FB;
}

.nav, .nav1 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: .50rem;
}

.brand {
  margin-left: 1.75rem;
}

.brand h1 {
  font-size: 1.75rem;
  color: #f3e3ae;
  font-family: PressStart2P;
}

.brand h1 span {
  color: #f889a3;
  font-family: PressStart2P;
}

.brand a {
  text-decoration: none;
}

.nav a {
  padding: 0.75rem 2rem;
  text-decoration: none;
  font-size: 1rem;
}

.nav a:first-child {
  margin-left: 2.5rem;
}

.nav a {
  color: white;
  text-decoration: none;
  font-size: 1.15rem;
  border: none;
  background: none;
  font-weight: 400;
  font-family: 'Montserrat';
}

.nav a::before {
  margin-left: auto;
}

.nav a::after, .nav a::before {
  content: '';
  width: 0%;
  height: 2px;
  background: #f9db7b;
  display: block;
  transition: 0.5s;
}

.nav a:hover::after, .nav a:hover::before {
  width: 100%;
}

.nav a:last-child {
  margin-right: 1.5rem;
}

header {
  display: flex;
  justify-content: space-between;
  padding: 0rem 0.75rem;
  z-index: 5;
  position: relative;
  padding-top: .5rem;
}

.vidContainer {
  position: relative;
  /* background: rgb(31,14,51);
  background: linear-gradient(45deg, rgba(31,14,51,1) 0%, rgba(57,28,93,1) 60%, rgba(93,44,154,1) 100%); */
  width: 100%;
  /* height: 100%; */
  margin-top: -5.5rem;
  overflow-x: hidden;
  background-color: #1c1321;
  padding-top: 5.75rem;
}

.video {
  object-fit: cover;
  min-height: 34.375rem;
  opacity: 0.5;
  width: 100vw;
  height: 100vh;
}

.headliner {
  z-index: 20;
  color: #dedede;
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%,-50%);
  text-align: center;
  align-items: center;
}

.headliner h1 {
  margin: 0;
  font-size: 3rem;
}

/* span {
  padding-top: 0.75rem;
  color: #f3e3ae;
  font-size: 3.5rem;
} */

button {
  margin-top: .5rem;
  text-decoration: none;
  position: relative;
  border: none;
  font-size: 0.875rem;
  font-family: inherit;
  color: #fff;
  width: 8.5em;
  height: 2.5em;
  line-height: 2em;
  text-align: center;
  background: linear-gradient(90deg,#fb97ae,#fbc1c1,#f9db7b,#fb97ae);
  background-size: 300%;
  border-radius: 30px;
  z-index: 1;
  }
  
  button:hover {
    animation: ani 8s linear infinite;
    border: none;
    cursor: pointer; 
  }
  
  @keyframes ani {
    0% {
      background-position: 0%;
    }
  
    100% {
      background-position: 400%;
    }
  }
  
  button:before {
    content: '';
    position: absolute;
    top: -2px;
    left: -2px;
    right: -2px;
    bottom: -2px;
    z-index: -1;
    background: linear-gradient(90deg,#fb97ae,#fbc1c1,#f9db7b,#fb97ae);
    background-size: 400%;
    border-radius: 35px;
    transition: 1s;
  }
  
  button:hover::before {
    filter: blur(10px);
  }
  
  button:active {
    background: linear-gradient(32deg,#fb97ae,#fbc1c1,#f9db7b,#fb97ae);
  }



.diff-style {
    padding-top: 0.75rem;
    color: #f3e3ae;
    font-size: 3.5rem;
    font-family: PressStart2P;
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: .15em solid orange; /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    letter-spacing: .025em; /* Adjust as needed */
    animation: 
      typing 3.5s steps(40, end),
      blink-caret .75s step-end infinite;
  }
  
  /* The typing effect */
  @keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }
  
  /* The typewriter cursor effect */
  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: #fbc1c1; }
  }

svg {
  display: none;
}

/* SERVICES */

.services {
  margin: 0;
  height: 100vh;
  background-color: #2e0020;
}

.services-container {
  display: flex;
  justify-content: space-around;
  margin: 20px;
}

.my-service p {
  color: black;
}
.my-service {
  flex: 0 1 30%;
  background-color: #fff;
  padding: 35px;
  border-radius: 25px;
  margin: 10px;
  box-sizing: border-box;
  text-align: center;
}

.my-service h2, p {
  color: #42002e;
}

.my-service img {
  max-width: 100%;
  border-radius: 50%;
  margin-bottom: 10px;
}

.services h1 {
  margin: 0 auto;
  text-align: center;
  padding: 3rem;
  color: #f3e3ae;
  font-family: PressStart2P;
  font-size: 2rem;
  padding-top: 5rem;
  z-index: 10;
}

/* -------------- */

.project-container {
  display: flex;
  flex-direction: column;
}

.projects {
  /* background-color: #1c1321; */
  margin: 0;
  height: 65rem;
  /* background-image: url("/assets/bg-design.png"); */
  /* background: url("/assets/bg-design.png") no-repeat, rgb(28, 19, 33); */
  /* background-image: url("/assets/bg-design.png"); */
  background-color: #2e0020;
}

.details p {
  padding: .5rem;
}

.projects h1 {
  margin: 0 auto;
  text-align: center;
  padding: 3rem;
  color: #f3e3ae;
  font-family: PressStart2P;
  font-size: 2rem;
  padding-top: 5rem;
  z-index: 10;
}

.project-container {
  z-index: 10;
}

.project-container img {
  box-shadow: -50px -50px 0 -43px #f9db7b, 50px 50px 0 -43px #f9db7b;
  height: 15rem;
  width: auto;
  display: flex;
  margin: 0 auto;
  z-index: 10;
}

.project-img {
  width: 60%;
  margin: 0 auto;
  z-index: 10;
}


.project-img h2, p{
  text-align: center;
  margin: 0;
  color: #dedede;
  /* padding-top: .5rem; */
}

h2{
  padding-top: 1.5rem;
  font-family: PressStart2P;
  /* color: #fb97ae; */
}

.project-img span {
  font-weight: bold;
}

.project-img p:last-child{
  text-align: center;
  color: #dedede;
  margin: 0;
  padding-bottom: 2.5rem;
}

/* -------------- */

.about-me {
  width: 100%;
  height: 50rem;
  /* background: rgb(252,244,130);
  background: linear-gradient(0deg, rgb(252, 244, 130) 0%, rgb(78, 19, 60) 50%, rgba(46,0,32,1) 100%); */
  background-image: url("/assets/layered-waves.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: center;
  background-position-y: center;
  margin: 0;
}

.about-me p {
  margin: 0 auto;
}

.about-me-container {
  display: flex;
  align-items: center;
  padding-top: 2rem;
}

.about-me h1 {
  margin: 0 auto;
  text-align: center;
  padding: 3rem;
  color: #f3e3ae;
  font-family: PressStart2P;
  font-size: 2rem;
  padding-top: 5rem;
}

.pic-container {
  margin-left: 10%;
}

.about-me img {
  height: 22rem;
  width: auto;
  border-radius: 200px;
}

.bio-container {
  width:55%;
}

.bio-container p {
  text-align: left;
  margin-left: 3rem;
  padding: .75rem;
}

/* .icon-container{
  width: 100%;
  height: auto;
} */

.icon-container {
  margin-left: 3rem;
  padding-left: .35rem;
}

.icon-container img {
  width: 3.5rem;
  height: auto;
  margin: 0 auto;
}


.contact {
  background-color: #ffc15f;
  height: 100vh;
  margin: 0 auto;
}

.contact h1 {
  margin: 0 auto;
  text-align: center;
  padding: 3rem;
  color: #f3e3ae;
  font-family: PressStart2P;
  font-size: 2rem;
  padding-top: 5rem;
  color: #2e0020;
}

.contact-form {
  max-width: 600px;
  margin: 20px auto;
  background-color: #fff;
  padding: 20px;
  border-radius: 25px;
  box-sizing: border-box;
}

form {
  display: flex;
  flex-direction: column;
}

label {
  margin-bottom: 8px;
}

input, textarea {
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.contact-form button {
  margin: 0 auto;
}


@media (max-width: 640px) {
  
  .headliner h1 {
    font-size: 2rem;
  }

  .diff-style {
    font-size: 2rem;
  }

  .nav{ 
    display: none;
  }

  .nav1 img{
    margin-left: 1.5rem;
  }

  button {
    margin-top: 1rem;
    text-decoration: none;
    position: relative;
    border: none;
    font-size: 0.875rem;
    font-family: inherit;
    color: #fff;
    width: 7.5em;
    height: 1.5em;
    line-height: 1em;
    text-align: center;
    background: linear-gradient(90deg,#fb97ae,#fbc1c1,#f9db7b,#fb97ae);
    background-size: 300%;
    border-radius: 30px;
    z-index: 1;
  }

  svg {
    display: flex;
    width: 2rem;
    height: auto;
    color: #dedede;
    margin-right: 3rem;
  }

  .video {
    object-fit: cover;
    min-height: 34.375rem;
    opacity: 0.2;
    width: 100vw;
    height: 100vh;
  }

  .projects {
    height: 64.75rem;
  }

  .projects h1 {
    font-size: 1.8rem;
  }

  .project-container img {
    box-shadow: -50px -50px 0 -45px #f9db7b, 50px 50px 0 -45px #f9db7b;
    height: auto;
    width: 80vw;
    margin: 0 auto;
  }

  .project-img img{
    margin: 0 auto;
  }

  .project-img {
    width: 80vw;
    height: auto;
  }

  .about-me h1 {
    padding-top: 7rem;
    font-size: 1.8rem;
  }

  .about-me-container {
    display: flex;
    flex-direction: column;
    text-align: center;
  }

  .bio-container p {
    padding: 0;
    margin: 0 auto;
    text-align: center;
    display: flex;
  }

  .bio-container p, .my-languages p {
    width:100%;
    display: block;
  }

  .pic-container img {
    height: 15rem;
    width: auto;
    border-radius: 200px;
  }

  .pic-container {
    margin: 0 auto
  }

  .about-me-container p{
    margin: 0 auto;
  }

  .bio-container {
    margin: 0 auto;
    width: 90%;
  }

  .icon-container {
    margin: 0 auto;
  }
}